/* Definindo estilos globais para toda a página */
* {
  font-family: "Inter", sans-serif; /* Fonte padrão para todo o site */
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove preenchimentos padrão */
  box-sizing: border-box; /* Inclui bordas e preenchimentos nas dimensões */
  letter-spacing: 1px; /* Espaçamento entre letras */
}


/* Estilos para o corpo da página */
body {
  background-color: #5c656e; /* Cor de fundo para o corpo da página */
  margin: 0;
  padding: 0;
}


/* Estilos para a seção de FAQ */
.faq-container {
  max-width: 90%; /* Largura máxima do container de FAQ */
  margin: 50px auto; /* Centraliza o container na página */
  padding: 20px;
  background-color: #fff; /* Fundo branco */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.faq-container h1 {
  text-align: center; /* Centraliza o texto do título */
  color: #333; /* Cor do texto */
  margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.faq-item {
  border-bottom: 1px solid #ddd; /* Linha separadora entre itens */
  padding: 10px 0; /* Espaçamento interno */
  transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}

.faq-item:last-child {
  border-bottom: none; /* Remove a linha de borda do último item */
}

.faq-question {
  cursor: pointer; /* Mostra que o elemento é clicável */
  margin: 0;
  padding: 15px;
  background-color: #f7f9fc; /* Cor de fundo das perguntas */
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transições suaves */
}

.faq-question:hover {
  background-color: #e2e8f0; /* Cor de fundo ao passar o mouse */
}

.faq-question::after {
  content: '\002B'; /* Ícone de "+" antes de clicar */
  font-size: 20px;
  transition: transform 0.3s ease; /* Transição suave para animação do ícone */
}

.faq-question.active::after {
  content: '\2212'; /* Ícone de "-" após clicar (expandido) */
  transform: rotate(180deg); /* Gira o ícone */
}

.faq-answer {
  max-height: 0; /* Inicialmente esconde a resposta */
  overflow: hidden; /* Esconde conteúdo que excede a altura máxima */
  transition: max-height 0.5s ease; /* Transição suave para exibir a resposta */
  margin: 10px 0 0; /* Espaçamento superior da resposta */
  padding: 0 15px;
  background-color: #f9fafb; /* Cor de fundo da resposta */
  border-radius: 5px;
}

.faq-answer p {
  margin: 10px 0; /* Espaçamento interno do parágrafo */
}

/* Estilos para a seção de Contato */
#contato {
  width: 80%; /* Largura do formulário de contato */
  margin: 50px auto; /* Centraliza o formulário na página */
}

form {
  display: flex;
  flex-direction: column; /* Coloca os elementos do formulário em coluna */
}

label {
  margin-top: 10px; /* Espaçamento superior do rótulo */
}

input, textarea {
  margin-top: 5px; /* Espaçamento superior dos campos de entrada */
  padding: 10px; /* Preenchimento interno dos campos de entrada */
  border: 1px solid #ddd; /* Borda dos campos de entrada */
  border-radius: 5px; /* Borda arredondada */
}

input[type="submit"], button {
  margin-top: 20px; /* Espaçamento superior do botão de envio e botões */
  padding: 10px 20px; /* Preenchimento interno do botão */
  border: none; /* Remove a borda */
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer; /* Mostra que o elemento é clicável */
}

input[type="submit"] {
  background-color: #28a745; /* Cor de fundo do botão de envio */
  color: #fff; /* Cor do texto do botão de envio */
}

button {
  background-color: #007BFF; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
}

input[type="submit"]:hover, button:hover {
  background-color: #218838; /* Cor de fundo ao passar o mouse sobre o botão */
}

/* Estilos para o rodapé */
footer {
  background-color: #303048; /* Cor de fundo */
  padding: 20px; /* Preenchimento */
  width: 100%; /* Largura total */
  max-width: 100%; /* Largura máxima */
  color: white; /* Cor do texto */
  box-sizing: border-box; /* Inclui bordas e preenchimentos */
}

/* Container principal do rodapé */
.footer-container {
  display: flex; /* Utiliza o layout flexbox para organizar o conteúdo do rodapé */
}

/* Bloco esquerdo do rodapé */
.footer-block-left {
  flex: 1; /* Ocupa uma parte do espaço disponível em relação ao bloco direito */
  padding-top: 20px; /* Adiciona um preenchimento superior de 20px */
}

/* Estilos para os itens da lista dentro do bloco esquerdo */
.footer-block-left ul li {
  list-style: none; /* Remove a estilização padrão de lista (marcadores) */
  padding-top: 0.9rem; /* Adiciona um preenchimento superior de 0.9rem */
}

/* Bloco direito do rodapé */
.footer-block-right {
  flex: 2; /* Ocupa duas partes do espaço disponível em relação ao bloco esquerdo */
  padding: 5px; /* Adiciona um preenchimento de 5px ao redor do bloco */
  text-align: center; /* Centraliza o texto dentro do bloco */
}

/* Estilos para parágrafos dentro dos blocos esquerdo e direito */
footer p{
  padding-right: 20px;
}
.footer-block-left p,
.footer-block-right p {
  margin: 0; /* Remove a margem padrão dos parágrafos */
}

/* Seção inferior do rodapé */
.footer-bottom {
  text-align: center; /* Centraliza o texto na seção inferior */
  margin-top: 20px; /* Adiciona uma margem superior de 20px */
}

/* Estilos para parágrafos na seção inferior do rodapé */
.footer-bottom p {
  margin: 0; /* Remove a margem padrão dos parágrafos */
  padding: 10px 0; /* Adiciona um preenchimento superior e inferior de 10px */
  border-top: 1px solid #fff; /* Adiciona uma borda superior sólida de 1px de cor branca */
}


/* Estilos para a lista de redes sociais */
.social ul {
  display: flex; /* Flexbox */
  gap: 1.4rem; /* Espaçamento entre itens */
  margin-top: 1rem; /* Margem superior */
  padding-left: 13%; /* Preenchimento à esquerda */
  list-style: none; /* Remove marcadores de lista */
  padding-top: 200px;
}

/* Caso algum dia prescisar
Estilos para ícones do Instagram
.social a #instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);  Gradiente de fundo 
  font-size: 2rem;  Tamanho da fonte
  border: 1.6px solid (#7f37c9, #ff2992, #ff9807);  Borda 
  border-radius: 50%;  Bordas arredondadas 
  padding: 0.35rem;  Preenchimento 
  text-align: center;  Alinhamento central 
  width: 26px;  Largura fixa
}

 Estilos para hover no ícone do Instagram 
.social a:hover #instagram {
  color: #1f252e;  Cor do texto 
  background-color: #ff0000;  Cor de fundo ao passar o mouse 
  box-shadow: 0 0 20px #ff0000;  Sombra 
  transition: all 0.3s ease-in-out; Transição suave 
}

/* Caso algum dia prescisar
 Estilos para ícones do LinkedIn 
.social a #linkedin {
  color: #0000ff;  Cor do texto 
  font-size: 2rem;  Tamanho da fonte 
  border: 1.6px solid (#0000ff); Borda 
  border-radius: 50%;  Bordas arredondadas 
  padding: 0.35rem;  Preenchimento 
  text-align: center;  Alinhamento central 
  width: 26px;  Largura fixa 
}

 Estilos para hover no ícone do LinkedIn 
.social a:hover #linkedin {
  color: #1f252e;  Cor do texto 
  background-color: #0000ff;  Cor de fundo ao passar o mouse 
  box-shadow: 0 0 20px #0000ff;  Sombra 
  transition: all 0.3s ease-in-out;  Transição suave 
}
*/

/* Estilos para ícones do YouTube */
.social a #youtube {
  color: #ff0000; /* Cor do texto */
  font-size: 2rem; /* Tamanho da fonte */
  border: 1.6px solid (#ff0000); /* Borda */
  border-radius: 50%; /* Bordas arredondadas */
  padding: 0.35rem; /* Preenchimento */
  text-align: center; /* Alinhamento central */
  width: 26px; /* Largura fixa */
}

/* Estilos para hover no ícone do YouTube */
.social a:hover #youtube {
  color: #1f252e; /* Cor do texto */
  background-color: red; /* Cor de fundo ao passar o mouse */
  box-shadow: 0 0 20px red; /* Sombra */
  transition: all 0.3s ease-in-out; /* Transição suave */
}

/* Estilos para ícones do WhatsApp */
.social a #whatsapp {
  color: #25d366; /* Cor do texto */
  font-size: 2rem; /* Tamanho da fonte */
  border: 1.6px solid (#25d366); /* Borda */
  border-radius: 50%; /* Bordas arredondadas */
  padding: 0.35rem; /* Preenchimento */
  text-align: center; /* Alinhamento central */
  width: 26px; /* Largura fixa */
}

/* Estilos para hover no ícone do WhatsApp */
.social a:hover #whatsapp {
  color: #1f252e; /* Cor do texto */
  background-color: #25d366; /* Cor de fundo ao passar o mouse */
  box-shadow: 0 0 20px #25d366; /* Sombra */
  transition: all 0.3s ease-in-out; /* Transição suave */
}

/* Estilos responsivos */
@media (max-width: 768px) {
 
  .social ul {
      padding: 8% 2 1% 27.5%; /* Ajusta o alinhamento dos ícones */
      padding-top: 200px;
  }
  
}
