/* Definindo estilos globais para toda a página */
* {
  font-family: "Inter", sans-serif; /* Fonte padrão para todo o site */
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove preenchimentos padrão */
  box-sizing: border-box; /* Inclui bordas e preenchimentos nas dimensões */
  letter-spacing: 1px; /* Espaçamento entre letras */
}

/* Estilos para o corpo da página */
body {
  background-color: #5c656e;
  margin: 0;
  padding: 0;
  display: flex; /* Flexbox para layout flexível */
  min-height: 100vh; /* Altura mínima de 100% da altura da tela */
  flex-direction: column; /* Direção das flexbox em coluna */
}

/* Estilos para o banner */
.banner {
  position: relative; /* Elemento posicionado relativamente */
  width: 100%; /* Largura total da tela */
  height: 400px; /* Altura fixa */
  background-color: #c51515; /* Cor de fundo */
  overflow: hidden; /* Esconde conteúdo que ultrapassar */
}

/* Estilos para a imagem dentro do banner */
.banner img {
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  object-fit: cover; /* Cobre toda a área */
}

/* Estilos para o texto dentro do banner */
.banner-texto {
  position: absolute; /* Posicionamento absoluto */
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste para centralização */
  color: rgb(66, 8, 8); /* Cor do texto */
  text-align: center; /* Alinhamento central do texto */
}

/* Estilos para o título dentro do banner */
.banner-texto h1 {
  margin: 0; /* Remove margens */
  font-size: 2.5em; /* Tamanho da fonte */
}

/* Estilos para o parágrafo dentro do banner */
.banner-texto p {
  margin: 0; /* Remove margens */
}

/* Estilos para contêineres */
.container {
  width: 90%; /* Largura de 90% da tela */
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 2rem 0; /* Preenchimento vertical */
}

/* Estilos para parágrafos */
p {
  justify-content: center; /* Centraliza o conteúdo */
  text-align: center; /* Alinha o texto ao centro */
}

/* Estilos para a seção de texto específica */
#text {
  margin: 30px; /* Margem ao redor */
  padding: 60px; /* Preenchimento interno */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  background-color: #fff; /* Cor de fundo */
}

/* Estilos para o cabeçalho */
header {
  background-image:url(/Loja\ SSS3/assets/imgs/Logo/logo.jpeg);
  background-size: 780px;
  color: rgb(255, 255, 255); /* Cor do texto */
  padding: 5px; /* Preenchimento */
  text-align: center; /* Alinha o texto ao centro */
  width: 100%; /* Largura total */
  position: fixed; /* Fixa no topo */
  top: 0; /* Alinha ao topo */
  z-index: 1000; /* Nível de empilhamento */
}

/* Estilos para a navegação */
nav {
  background-image: url(/Loja\ SSS3/assets/logo/logo.jpeg);
  display: flex; /* Flexbox */
  justify-content: space-between; /* Espaçamento entre itens */
  align-items: center; /* Alinhamento central dos itens */
  height: 60px; /* Altura fixa */
  padding: 60px; /* Preenchimento */
  color: rgb(67, 3, 3); /* Cor do texto */
  z-index: 1000; /* Nível de empilhamento */
}


/* Estilos para o link do logo */
.logo a {
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Remove sublinhado */
  font-size: 24px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
}

/* Estilos para os links de navegação */
.nav-links {
  display:flex; /* Flexbox */
  list-style: none; /* Remove marcadores de lista */
  margin: 0; /* Remove margens */
}

/* Estilos para os itens de navegação */
.nav-links li {
  margin-left: 20px; /* Margem à esquerda */
}

/* Estilos para os links */
.nav-links a {
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Remove sublinhado */
  font-size: 18px; /* Tamanho da fonte */
}

/* Estilos adicionais para os links de navegação */
.nav-links {
  display: blocks; /* Exibição em linha */
}

/* Estilos para o botão do menu em dispositivos móveis */
.burger {
  display: none; /* Oculto por padrão */
  cursor: pointer; /* Cursor de ponteiro */
}

/* Estilos para as linhas do botão do menu */
.burger div {
  width: 25px; /* Largura */
  height: 3px; /* Altura */
  background: #fff; /* Cor de fundo */
  margin: 5px; /* Margem */
  transition: all 0.3s ease; /* Transição suave */
}

/* Estilos para o conteúdo principal */
main {
  padding-top: 120px; /* Preenchimento superior */
  flex: 1; /* Flexível */
}

/* Estilos para cabeçalhos secundários */
h2 {
  text-align: center; /* Alinhamento central */
  margin: 20px 0; /* Margens vertical */
}

#vid{
  display: grid;
  place-items: center; /* Centraliza os itens horizontal e verticalmente */
  text-align: center; /* Centraliza o texto */
}

/* Estilos para a galeria */
#galeria {
  width: 80%; /* Largura */
  margin: 0 auto; /* Centraliza */
}

/* Estilos para o slider */
.slider {
  position: relative; /* Posicionamento relativo */
  max-width: 800px; /* Largura máxima */
  margin: auto; /* Centraliza */
  overflow: hidden; /* Esconde conteúdo extra */
  border: 2px solid #ddd; /* Borda */
  border-radius: 10px; /* Bordas arredondadas */
}

/* Estilos para as slides */
.slides {
  display: flex; /* Flexbox */
  transition: transform 0.7s ease-in-out; /* Transição suave */
}

/* Estilos para cada slide */
.slide {
  min-width: 100%; /* Largura mínima */
  box-sizing: border-box; /* Inclui bordas e preenchimentos */
}

/* Estilos para os produtos */
.product {
  text-align: center; /* Alinhamento central */
  padding: 20px; /* Preenchimento */
}

/* Estilos para imagens dos produtos */
.product img {
  max-width: 100%; /* Largura máxima */
  height: auto; /* Altura automática */
  border-radius: 10px; /* Bordas arredondadas */
}

/* Estilos para botões */
button {
  margin-top: 10px; /* Margem superior */
  padding: 10px 20px; /* Preenchimento */
  background-color: #007BFF; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border: none; /* Remove borda */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de ponteiro */
}


/* Estilos para botões de navegação no slider */
.prev, .next {
  position: absolute; /* Posicionamento absoluto */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajuste para centralização */
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo */
  color: white; /* Cor do texto */
  border: none; /* Remove borda */
  cursor: pointer; /* Cursor de ponteiro */
  padding: 10px; /* Preenchimento */
  border-radius: 50%; /* Bordas arredondadas */
  user-select: none; /* Desabilita seleção */
}

/* Estilos para botão de navegação anterior */
.prev {
  left: 10px; /* Alinhamento à esquerda */
}

/* Estilos para botão de navegação próximo */
.next {
  right: 10px; /* Alinhamento à direita */
}

/* Estilos para a seção de contato */
#contato {
  width: 80%; /* Largura */
  margin: 50px auto; /* Centraliza */
}

/* Estilos para formulários */
form {
  display: flex; /* Flexbox */
  flex-direction: column; /* Direção em coluna */
}

/* Estilos para labels */
label {
  margin-top: 10px; /* Margem superior */
}

/* Estilos para inputs e textareas */
input, textarea {
  margin-top: 5px; /* Margem superior */
  padding: 10px; /* Preenchimento */
  border: 1px solid #ddd; /* Borda */
  border-radius: 5px; /* Bordas arredondadas */
}

/* Estilos para o botão de submit */
input[type="submit"] {
  margin-top: 20px; /* Margem superior */
  padding: 10px 20px; /* Preenchimento */
  background-color: #28a745; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border: none; /* Remove borda */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de ponteiro */
}

/* Estilos para hover no botão de submit */
input[type="submit"]:hover, button:hover {
  background-color: #218838; /* Cor de fundo ao passar o mouse */
}

/* Estilos para o rodapé */
footer {
  background-color: #303048; /* Cor de fundo */
  padding: 20px; /* Preenchimento */
  width: 100%; /* Largura total */
  max-width: 100%; /* Largura máxima */
  color: white; /* Cor do texto */
  box-sizing: border-box; /* Inclui bordas e preenchimentos */
}

/* Container principal do rodapé */
.footer-container {
  display: flex; /* Utiliza o layout flexbox para organizar o conteúdo do rodapé */
}

/* Bloco esquerdo do rodapé */
.footer-block-left {
  flex: 1; /* Ocupa uma parte do espaço disponível em relação ao bloco direito */
  padding-top: 20px; /* Adiciona um preenchimento superior de 20px */
}

/* Estilos para os itens da lista dentro do bloco esquerdo */
.footer-block-left ul li {
  list-style: none; /* Remove a estilização padrão de lista (marcadores) */
  padding-top: 0.9rem; /* Adiciona um preenchimento superior de 0.9rem */
}

/* Bloco direito do rodapé */
.footer-block-right {
  flex: 2; /* Ocupa duas partes do espaço disponível em relação ao bloco esquerdo */
  padding: 5px; /* Adiciona um preenchimento de 5px ao redor do bloco */
  text-align: center; /* Centraliza o texto dentro do bloco */
}

/* Estilos para parágrafos dentro dos blocos esquerdo e direito */
.footer-block-left p,
.footer-block-right p {
  margin: 0; /* Remove a margem padrão dos parágrafos */
}

/* Seção inferior do rodapé */
.footer-bottom {
  text-align: center; /* Centraliza o texto na seção inferior */
  margin-top: 20px; /* Adiciona uma margem superior de 20px */
}

/* Estilos para parágrafos na seção inferior do rodapé */
.footer-bottom p {
  margin: 0; /* Remove a margem padrão dos parágrafos */
  padding: 10px 0; /* Adiciona um preenchimento superior e inferior de 10px */
  border-top: 1px solid #fff; /* Adiciona uma borda superior sólida de 1px de cor branca */
}


/* Estilos para a lista de redes sociais */
.social ul {
  display: flex; /* Flexbox */
  gap: 1.4rem; /* Espaçamento entre itens */
  margin-top: 1rem; /* Margem superior */
  padding-left: 13%; /* Preenchimento à esquerda */
  list-style: none; /* Remove marcadores de lista */
  padding-top: 200px;
}


/* Caso algum dia prescisar 
 Estilos para ícones do Instagram 
.social a #instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);  Gradiente de fundo 
  font-size: 2rem;  Tamanho da fonte 
  border: 1.6px solid (#7f37c9, #ff2992, #ff9807);  Borda 
  border-radius: 50%;  Bordas arredondadas 
  padding: 0.35rem; Preenchimento 
  text-align: center;  Alinhamento central 
  width: 26px;  Largura fixa 
}

 Estilos para hover no ícone do Instagram 
.social a:hover #instagram {
  color: #1f252e;  Cor do texto 
  background-color: #ff0000;  Cor de fundo ao passar o mouse 
  box-shadow: 0 0 20px #ff0000;  Sombra 
  transition: all 0.3s ease-in-out;  Transição suave 
}
*/

/* Caso algum dia prescisar
Estilos para ícones do LinkedIn 
.social a #linkedin {
  color: #0000ff;  Cor do texto 
  font-size: 2rem;  Tamanho da fonte 
  border: 1.6px solid (#0000ff);  Borda 
  border-radius: 50%;  Bordas arredondadas 
  padding: 0.35rem;  Preenchimento 
  text-align: center;  Alinhamento central 
  width: 26px;  Largura fixa 
}

 Estilos para hover no ícone do LinkedIn 
.social a:hover #linkedin {
  color: #1f252e;  Cor do texto 
  background-color: #0000ff;  Cor de fundo ao passar o mouse 
  box-shadow: 0 0 20px #0000ff;  Sombra 
  transition: all 0.3s ease-in-out;  Transição suave 
}
*/

/* Estilos para ícones do YouTube */
.social a #youtube {
  color: #ff0000; /* Cor do texto */
  font-size: 2rem; /* Tamanho da fonte */
  border: 1.6px solid (#ff0000); /* Borda */
  border-radius: 50%; /* Bordas arredondadas */
  padding: 0.35rem; /* Preenchimento */
  text-align: center; /* Alinhamento central */
  width: 26px; /* Largura fixa */
}

/* Estilos para hover no ícone do YouTube */
.social a:hover #youtube {
  color: #1f252e; /* Cor do texto */
  background-color: red; /* Cor de fundo ao passar o mouse */
  box-shadow: 0 0 20px red; /* Sombra */
  transition: all 0.3s ease-in-out; /* Transição suave */
}

/* Estilos para ícones do WhatsApp */
.social a #whatsapp {
  color: #25d366; /* Cor do texto */
  font-size: 2rem; /* Tamanho da fonte */
  border: 1.6px solid (#25d366); /* Borda */
  border-radius: 50%; /* Bordas arredondadas */
  padding: 0.35rem; /* Preenchimento */
  text-align: center; /* Alinhamento central */
  width: 26px; /* Largura fixa */
}

/* Estilos para hover no ícone do WhatsApp */
.social a:hover #whatsapp {
  color: #1f252e; /* Cor do texto */
  background-color: #25d366; /* Cor de fundo ao passar o mouse */
  box-shadow: 0 0 20px #25d366; /* Sombra */
  transition: all 0.3s ease-in-out; /* Transição suave */
}

/* Design responsivo para telas menores */
@media (max-width: 768px) {
  header nav ul {
    flex-direction: column; /* Direção em coluna */
  }

  .slide img {
    width: 100%; /* Largura total */
    height: auto; /* Altura automática */
  }

  iframe {
    width: 100%; /* Largura total */
    height: auto; /* Altura automática */
  }

  form {
    width: 100%; /* Largura total */
  }

  .nav-links {
    flex-direction: column; /* Direção em coluna */
    width: 100%; /* Largura total */
    position: absolute; /* Posicionamento absoluto */
    top: 86px; /* Alinhamento ao topo */
    left: -100%; /* Inicialmente fora da tela */
    background: #a71717; /* Cor de fundo */
    transition: all 0.5s ease; /* Transição suave */
  }

  .nav-links li {
    margin: 10px 2px 2px; /* Margens */
  }

  .nav-links a {
    font-size: 24px; /* Tamanho da fonte */
  }

  .burger {
    display: block; /* Exibido em telas menores */
  }

  footer {
    padding: 0.10%; /* Preenchimento */
    display: inline-block; /* Exibição em linha */
    margin-top: 4%; /* Margem superior */
  }

  .social ul {
    padding: 10% 0 1% 27.5%; /* Preenchimento */
  }
}

/* Estilos para a classe ativa do menu de navegação */
.nav-active {
  left: 0; /* Move o menu para dentro da tela */
}

/* Estilos para a transformação do ícone do menu */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px); /* Rotaciona e move a linha */
}

.toggle .line2 {
  opacity: 0; /* Torna a linha invisível */
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px); /* Rotaciona e move a linha */
}
